<div class="form-body standard-form flexrow">
    <input type="search" name="search" value="{{search}}" placeholder="Search...">
    <button style="    max-width: min-content;" data-action="stopAll" data-tooltip="Stop all"><i class="fas fa-stop"></i></button>
</div>